body{
    background-color: grey;
    text-align: center;
}
.alldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.div1, .div2, .div3 {
    width: 400px;
    height: 400px;
    background-position: center;
    margin: 10px; 
    display: inline-block; 
    border-radius: 10px;
    border: 2px solid black;
}

.div1 {
    background-image: url(https://picsum.photos/536/354);
}

.div2 {
    background-image: url(https://picsum.photos/seed/picsum/536/354);
}

.div3 {
    background-image: url(https://picsum.photos/id/1084/536/354?grayscale);
}

